* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.first {
  background: #560f88;
  height: auto;
}
header {
  width: 95%;
}
.nav {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 90%;
}

.leftheader {
  margin-top: 2em;
}
.rightheader {
  margin-top: 2.5em;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.rightheader a {
  text-decoration: none;
}
.firsta a {
  color: white;
  margin-top: 0.5em;
  margin-right: 1.5em;
}
.two {
  background: white;
  color: #560f88;
  height: 2.5em;
  width: 9em;
  border: none;
  border-radius: 0.2em;
  font-size: 1em;
}

.one {
  background-color: #560f88;
  height: 2.5em;
  width: 9em;
  border: 0.5px solid white;
  border-radius: 0.2em;
  font-size: 1em;
}

.one a {
  color: white;
}

.rightheader button {
  margin-right: 1.5em;
}

.buy {
  width: 29em;
}
.buy h3 {
  font-size: 2.3em;
  color: white;
  line-height: 1.3em;
}

.buy p {
  font-weight: lighter;
  color: white;
  font-size: 1em;
}

.getstarted button {
  background: white;
  color: #560f88;
  height: 2.5em;
  width: 17em;
  border: none;

  border-radius: 0.2em;
}
.getstarted a {
  text-decoration: none;
  font-size: 1em;
}

.btn {
  display: flex;
}

.btn button {
  display: flex;
  background: #560f88;
  color: white;
  height: 3em;
  width: 10em;
  margin-right: 0.4em;
  padding-top: 0.3em;
  border: 0.5px solid white;
  border-radius: 0.2em;
}

.btn img {
  max-width: 1.2em;
  margin: 0.5em;
}

.btn p {
  font-weight: lighter;
  font-size: 0.7em;
  text-align: left;
}

.btn h4 {
  font-weight: lighter;
  font-size: 1.3em;
  text-align: left;
}

/* END OF SECTION NavBar */

.Home {
  background-color: #570f88;
}
.body {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 95%;
  padding: 4em;
  position: relative;
  height: 25em;
}

/* END OF HOME */

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5em;

  width: auto;
}

.grid h4 {
  text-align: center;
  line-height: 2em;
  font-size: 1.7em;
}

.grid p {
  text-align: center;
  font-size: 0.7em;
}
.section1 {
  background: #f2f2f2;
  height: 40em;
}

.sec {
  margin: auto;
  width: 95%;
  height: auto;
}

.why {
  padding: 2em;
  text-align: center;
  font-size: 2em;
  color: #26093a;
}

.xgrid {
  background-color: white;
  padding: 1.3em;
  color: #26093a;
}

.ygrid {
  background-color: white;
  padding: 1.3em;
  color: #26093a;
}

.zgrid {
  background-color: white;
  padding: 1.3em;
  color: #26093a;
}

.ygrid img {
  max-width: 15em;
  position: relative;
  margin-left: 3.8em;
  margin-top: 2em;
}

.xgrid img {
  max-width: 14em;
  position: relative;
  margin-left: 3.8em;
  margin-top: 2em;
}

.zgrid img {
  max-width: 14em;
  position: relative;
  margin-left: 3.8em;
  margin-top: 2em;
}

.gridbtn a {
  text-decoration: none;
  color: black;
}

.gridbtn {
  position: relative;
  color: black;
  height: 1.8em;
  width: 15em;
  border: 0.5px solid black;
  border-radius: 0.2em;
  text-align: center;
  margin-left: 40%;
  padding-top: 0.8em;
  top: 3em;
}

/* END OF SECTION1 */

.no1 {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.no1left {
  position: relative;
  display: flex;
  justify-content: space-between;
  text-align: left;
  width: 40em;
}
.no2 {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.no2right {
  position: relative;
  display: flex;
  justify-content: space-between;
  text-align: left;
  width: 40em;
}

.no3 {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.no3left {
  position: relative;
  display: flex;

  text-align: left;
  width: 40em;
}
.h4p {
  margin-left: 2em;
}

.h4p h4 {
  line-height: 2em;
  font-size: 1.7em;
  color: #26093a;
}
.h4p p {
  font-weight: lighter;
  font-size: 1em;
  color: #26093a;
}

.numbering {
  background: #7c20bf;
  width: 2em;
  padding: 0.5em;
  font-size: 1em;
  font-weight: bolder;
  color: white;
  height: 2em;
  border: 1px solid #7c20bf;
  box-shadow: 10px 10px 2px #dbc8e8;
  border-radius: 5px;
}

.section2 img {
  max-width: 17em;
  position: relative;
  bottom: 2.3em;
}
.section2 {
  background: #f2f2f2;
}
.sectioncreate {
  width: 95%;
}
.create {
  position: relative;
  margin: auto;
  width: 85%;
  height: auto;
}

.section2buy {
  padding: 2em;
  text-align: center;
  font-size: 2em;
}

/* END OF SEC 2 */

.sec3 {
  text-align: center;
  margin: 10em;
  width: 80%;
}
.sec3ready h4 {
  line-height: 2em;
  font-size: 2.7em;
  color: #26093a;
}

.sec3ready p {
  text-align: center;
  font-weight: lighter;
  font-size: 1.5em;
  color: #26093a;
}

.sec3ready button {
  background: #560f88;

  height: 2.5em;
  width: 17em;
  border: none;
  font-size: 1.3em;
  border-radius: 0.2em;
}

.sec3ready a {
  color: white;
  text-decoration: none;
}

.sec3app {
  display: flex;
  position: relative;
  justify-content: center;
}

.sec3app button {
  display: flex;
  color: #26093a;
  height: 4em;
  width: 13em;
  margin-right: 0.3em;
  padding-top: 0.3em;
  border: 0.5px solid black;
  border-radius: 0.2em;
  left: 0.2em;
  position: relative;
}

.sec3app img {
  max-width: 1.2em;
  margin: 0.5em;
}

.sec3app p {
  font-weight: lighter;
  font-size: 0.8em;
  text-align: left;
}

.sec3app h4 {
  font-weight: lighter;
  font-size: 1.7em;
  text-align: left;
}

/* END OF SECTION 3 */
.griddiv {
  width: auto;
}
.grid2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4em;
  position: relative;
  color: white;
}

.xgrid2 {
  position: relative;
  display: flex;
  width: 17em;
  bottom: 11em;
  padding-left: 2em;
  font-weight: lighter;
}

.ygrid2 {
  position: relative;
  display: flex;
  width: 17em;
  bottom: 11em;
  padding-left: 2em;
  font-weight: lighter;
}

.zgrid2 {
  position: relative;
  display: flex;
  width: 17em;
  bottom: 11em;
  padding-left: 2em;
  font-weight: lighter;
}

.gridimage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  position: relative;
  width: 95%;
}

.trading {
  margin-left: 1em;
  font-size: 1em;
  line-height: 1.1em;
}
.trading3 {
  position: relative;
  right: 1.3em;
  font-size: 1em;
  line-height: 1.1em;
}
.exclamation3 {
  position: relative;
  right: 2em;
  font-size: 1em;
  line-height: 1.1em;
}

.cus {
  padding: 2em;
  text-align: center;
  font-size: 2em;
}
.customer {
  background-color: #f2f2f2;
}

.customerr {
  margin: auto;
  width: 95%;
  height: auto;
}
.customerimages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  position: relative;
  left: 2em;
  bottom: 4em;
}

.customerimages img {
  width: 5em;
  height: 5em;
  vertical-align: middle;
  border-radius: 50%;
}

.ireti {
  display: flex;
  position: relative;
  right: 0.3em;
}

.iretitext {
  margin-left: 0.6em;
  position: relative;
  top: 0.7em;
  font-size: 1.3em;
}

.ireti2 {
  display: flex;
  position: relative;
  right: 1.3em;
}

.ireti3 {
  display: flex;
  position: relative;
  right: 1.9em;
}

/* END OF SECTION 4 */

.footergrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  margin-top: 2em;
}

.footergrid a {
  text-decoration: none;
  position: relative;
  line-height: 2em;
  color: #26093a;
}

.foot {
  margin: auto;
  width: 95%;
  height: auto;
}

.last {
  background-color: #fafafa;
  color: #26093a;
  text-align: center;

  padding: 2em;
}

/* END OF SECTION 5 */

.theform {
  position: relative;
  background-color: #ebe9ec;
  width: 50%;
  border: 0.1px solid grey;
  /* box-shadow: 10px 10px 2px #efe7f5; */
  top: 2em;
  margin: auto;
  padding: 2em;
  border-radius: 5px;
}
.welcome {
  text-align: center;
  font-size: 2em;
}
.signup input {
  width: 92%;
  height: 3.5em;
  margin-top: 1em;
  border: none;
  padding-left: 0.7em;
  border-radius: 0.7em;
}
.signup button {
  background-color: #7c1fbf;
  color: white;
  border: none;
  border-radius: 5px;
  width: 93%;
  height: 3em;
  margin: auto;
}

.signupbutton button p {
  color: white;
  font-size: 1.2em;
  text-align: center;
}
.signup a {
  color: #7c1fbf;
  text-decoration: none;
  font-size: 0.8em;
}
.signup p {
  width: 25em;
  font-size: 0.8em;
  line-height: 1.5em;
}

.signup {
  position: relative;
  width: 60%;
  margin: auto;
  padding: 2em;
}
.signup h4 {
  padding-top: 2em;
  text-align: center;
  font-weight: normal;
}

#terms {
  padding-top: 1em;
}

.buttongrid {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 2em;
  width: 100%;
}

.buttongrid button {
  position: relative;
  width: 14.8em;
  height: 2.4em;
  border: none;
  right: 1em;
  border-radius: 10px;
}

.buttongrid a {
  text-decoration: none;
  color: black;
}

.individual {
  background-color: #ffffff;
}

.business {
  background-color: #e4e4e4;
}

.businessbus {
  background-color: #ffffff;
}

.individualbus {
  background-color: #e4e4e4;
}

/* END OF BUSINESS/GET STARTED/INDIVIDUAL COMPONENT */

.pick select {
  justify-content: center;
  position: relative;
  background-color: white;
  height: 2em;
  width: 94%;
  border: none;
  top: 3em;
  margin: auto;
  border-radius: 5px;
  padding: 2em;
}

.option {
  position: relative;
  width: auto;
}
.pick input {
  justify-content: center;
  position: relative;
  background-color: white;
  height: 2em;
  width: 87%;
  border: none;
  top: 3em;
  margin: auto;
  padding: 1em;
  border-radius: 5px;
}

.pick label {
  position: relative;
  line-height: 1em;
  top: 2em;
  /* font-weight: bold; */
  width: 4em;
}

.pickbutton button {
  position: relative;
  margin-top: 4em;
  height: 4em;
  width: 94%;
  height: 4em;
  border-radius: 10px;
}

.pickbutton a {
  text-decoration: none;
  color: white;
  font-size: 1.3em;
}

/* END OF BUY/SELL */
.forget {
  display: flex;
  width: 94%;
  justify-content: space-between;
  padding-top: 1em;
}
.forget a {
  position: relative;
  text-decoration: none;
  right: 0.9em;
}

.forget input {
  position: relative;
  max-width: 1em;
  bottom: 2em;
}

.checkbox {
  display: flex;
}

.loginbutton a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}

.loginbutton button {
  position: relative;
  height: 4em;
  width: 93%;
  border-radius: 10px;
}

/* END OF LOGIN */

.welcomew {
  position: relative;
  text-align: center;
  font-size: 2em;
  margin: auto;
  width: auto;
}

.welcomew h4 {
  position: relative;
  font-weight: lighter;
  margin-bottom: 1em;
  margin-top: 1em;
}

.welcomep p {
  position: relative;
  margin-bottom: 1em;
}

.welcomew img {
  margin-bottom: 1em;
}

.p p {
  position: relative;
  font-size: 0.4em;
  left: 14em;
  margin-bottom: 5em;
}
.p p {
  width: 28em;
}
.p a {
  text-decoration: none;
}

.welcomew button {
  background-color: #7c1fbf;
  color: white;
  border: none;
  border-radius: 5px;
  width: 30em;
  height: 4em;
  margin: auto;
  margin-bottom: 3em;
}

.terms {
  position: relative;
  font-size: 0.4em;
  line-height: 1.5em;
}

.terms a {
  text-decoration: none;
}

/* END OF WELCOME */

@media screen and (max-width: 1200px) {
  .buttongrid {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 2em;
    width: auto;
    left: 1em;
  }

  .signupbutton button p {
    position: relative;
    font-size: 1.2em;
    text-align: center;
    right: 2.5em;
  }

  .signupbutton button {
    width: 94%;
  }

  .buttongrid button {
    position: relative;

    width: 12.7em;
    height: 2.4em;
    border: none;
    right: 2em;
    border-radius: 10px;
  }

  #terms {
    position: relative;
    width: 90%;
  }

  .body {
    position: relative;
    display: block;
    height: auto;
    width: 32%;
    margin-left: 8px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5em;

    width: 95%;
  }

  .gridimage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    position: relative;
    width: 95%;
  }

  .gridimage img {
    max-width: 100%;
  }
  .grid2 {
    position: relative;
    top: 1.3em;
  }
  .ygrid2 {
    position: relative;
    right: 1.8em;
  }
  .zgrid2 {
    position: relative;
    right: 2.3em;
  }

  .ireti {
    display: flex;
    position: relative;
    right: 1em;
  }

  .ireti2 {
    display: flex;
    position: relative;
    right: 2.3em;
  }

  .ireti3 {
    display: flex;
    position: relative;
    right: 3.2em;
  }
}

@media screen and (max-width: 992px) {
  .buttongrid {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 2em;
    width: auto;
    left: 1em;
  }

  .signupbutton button p {
    position: relative;
    font-size: 1.2em;
    text-align: center;
    right: 2.5em;
  }

  .signupbutton button {
    width: 94%;
  }

  .buttongrid button {
    position: relative;

    width: 10.5em;
    height: 2.4em;
    border: none;
    right: 2em;
    border-radius: 10px;
  }

  #terms p {
    position: relative;
    width: 99%;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    width: 95%;
  }
  .grid h4 {
    text-align: center;
    line-height: 2em;
    font-size: 1.3em;
  }

  .grid p {
    text-align: center;
    font-size: 0.7em;
  }

  .ygrid img {
    max-width: 7em;
    position: relative;
    margin-left: 3.8em;
    margin-top: 2em;
  }

  .xgrid img {
    max-width: 7em;
    position: relative;
    margin-left: 3.8em;
    margin-top: 2em;
  }

  .zgrid img {
    max-width: 7em;
    position: relative;
    margin-left: 3.8em;
    margin-top: 2em;
  }

  .footergrid a {
    font-size: 0.8em;
  }

  .xgrid2 {
    position: relative;
    display: flex;
    width: 15em;
    bottom: 10em;
    padding-left: 1.5em;
    font-weight: lighter;
  }

  .xgrid2 p {
    font-size: 0.8em;
  }

  .ygrid2 p {
    font-size: 0.8em;
  }

  .zgrid2 p {
    font-size: 0.8em;
  }

  .ygrid2 {
    position: relative;
    display: flex;
    width: 15em;
    bottom: 10em;
    padding-left: 1.5em;
    font-weight: lighter;
  }

  .zgrid2 {
    position: relative;
    display: flex;
    width: 15em;
    bottom: 10em;
    padding-left: 1.5em;
    font-weight: lighter;
  }
}

@media screen and (max-width: 768px) {
  .buttongrid {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 2em;
    width: auto;
    left: 1em;
  }

  .signupbutton button p {
    position: relative;
    font-size: 1.2em;
    text-align: center;
    right: 5.5em;
  }

  .signupbutton button {
    width: 94%;
  }

  .buttongrid button {
    position: relative;

    width: 8.3em;
    height: 2.4em;
    border: none;
    right: 1.7em;
    border-radius: 10px;
  }

  #terms p {
    position: relative;
    width: 99%;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    width: 95%;
  }
  .grid h4 {
    text-align: center;
    line-height: 2em;
    font-size: 1.3em;
  }

  .grid p {
    text-align: center;
    font-size: 0.7em;
  }

  .ygrid img {
    max-width: 7em;
    position: relative;
    margin-left: 3.8em;
    margin-top: 2em;
  }

  .xgrid img {
    max-width: 7em;
    position: relative;
    margin-left: 3.8em;
    margin-top: 2em;
  }

  .zgrid img {
    max-width: 7em;
    position: relative;
    margin-left: 3.8em;
    margin-top: 2em;
  }

  .footergrid a {
    font-size: 0.8em;
  }

  .xgrid2 {
    position: relative;
    display: flex;
    width: 15em;
    bottom: 8em;
    padding-left: 1em;
    font-weight: lighter;
  }

  .xgrid2 p {
    font-size: 0.6em;
    width: 80%;
  }

  .xgrid2 img {
    max-width: 1.3em;
  }
  .ygrid2 img {
    max-width: 1.3em;
  }
  .zgrid2 img {
    max-width: 1.3em;
  }

  .ygrid2 p {
    font-size: 0.6em;
    width: 80%;
  }

  .zgrid2 p {
    font-size: 0.6em;
    width: 80%;
  }

  .ygrid2 {
    position: relative;
    display: flex;
    width: 15em;
    bottom: 8em;
    right: 6.3em;
    font-weight: lighter;
  }

  .zgrid2 {
    position: relative;
    display: flex;
    width: 15em;
    bottom: 8em;
    right: 10.7em;
    font-weight: lighter;
  }

  .nav img {
    position: relative;
    max-width: 4em;
    left: 1.3em;
  }
  .nav {
    width: 90%;
    justify-content: space-between;
    margin: auto;
  }

  .rightheader a {
    text-decoration: none;
  }
  .firsta a {
    color: white;
    margin-top: 0.5em;
    margin-right: 1.5em;
  }
  .two {
    background: white;
    color: #560f88;
    height: 2.1em;
    width: 6em;
    border: none;
    border-radius: 0.2em;
  }

  .one {
    background-color: #560f88;
    height: 2.1em;
    width: 6em;
    border: 0.5px solid white;
    border-radius: 0.2em;
  }

  .one a {
    color: white;
    font-size: 0.7em;
  }
  .two a {
    font-size: 0.7em;
  }

  .rightheader button {
    margin-right: 1em;
  }
  .rightheader {
    position: relative;
    left: 2.3em;
    bottom: 0.6em;
  }

  .btn a {
    font-size: 0.7em;
  }

  .btn h4 {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 900px) {
  .xgrid2 {
    position: relative;
    display: flex;
    width: 15em;
    bottom: 8em;
    padding-left: 1em;
    font-weight: lighter;
  }

  .xgrid2 p {
    font-size: 0.6em;
    width: 80%;
  }

  .xgrid2 img {
    max-width: 1.3em;
  }
  .ygrid2 img {
    max-width: 1.3em;
  }
  .zgrid2 img {
    max-width: 1.3em;
  }

  .ygrid2 p {
    font-size: 0.6em;
    width: 80%;
  }

  .zgrid2 p {
    font-size: 0.6em;
    width: 80%;
  }

  .ygrid2 {
    position: relative;
    display: flex;
    width: 15em;
    bottom: 8em;
    right: 5em;
    font-weight: lighter;
  }

  .zgrid2 {
    position: relative;
    display: flex;
    width: 15em;
    bottom: 8em;
    right: 7.5em;
    font-weight: lighter;
  }
}

@media screen and (max-width: 576px) {
  .buttongrid button {
    position: relative;

    width: 6.3em;
    height: 2.4em;
    border: none;
    right: 1.7em;
    border-radius: 10px;
  }

  .signupbutton button p {
    position: relative;
    font-size: 1.2em;
    text-align: center;
    right: 7.3em;
  }

  .nav img {
    position: relative;
    max-width: 4em;
    left: 1.3em;
  }
  .nav {
    width: 90%;
    justify-content: space-between;
    margin: auto;
  }
  header {
    width: 80%;
  }

  .rightheader a {
    text-decoration: none;
  }
  .firsta a {
    color: white;
    margin-top: 0.5em;
    margin-right: 1.5em;
  }
  .two {
    background: white;
    color: #560f88;
    height: 2.1em;
    width: 6em;
    border: none;
    border-radius: 0.2em;
  }

  .one {
    background-color: #560f88;
    height: 2.1em;
    width: 6em;
    border: 0.5px solid white;
    border-radius: 0.2em;
  }

  .firsta {
    position: relative;
    left: 2em;
  }

  .firsta a {
    margin-right: 1em;
    font-size: 0.8em;
  }

  .rightheader button {
    margin-right: 0.5em;
  }
  .rightheader {
    position: relative;
    left: 5em;
    bottom: 0.6em;
  }

  .btn a {
    font-size: 0.6em;
  }

  .btn h4 {
    font-size: 0.8em;
  }

  .grid {
    display: block;
    position: relative;
    justify-content: center;

    width: 90%;
  }

  .gridimage {
    position: relative;
    width: 50%;
  }

  .gridimage img {
    max-width: 50%;
  }
  .section1 {
    background: #f2f2f2;
    height: 60em;
  }

  .sec {
    margin: auto;
    width: 95%;
    height: auto;
  }

  .why {
    padding: 1.6em;
    text-align: center;
    font-size: 1.6em;
    color: #26093a;
  }
  .h4p {
    margin-left: 2em;
  }

  .h4p h4 {
    line-height: 1.2em;
    font-size: 1.5em;
    color: #26093a;
  }
  .h4p p {
    position: relative;
    top: 1em;
    font-weight: lighter;
    font-size: 0.8em;
    color: #26093a;
  }

  .no1right img {
    position: relative;
    max-width: 80%;
    top: 2em;
    left: 2em;
  }
  .no3right img {
    position: relative;
    max-width: 80%;
    top: 2em;
    left: 2em;
  }
  .no2left img {
    position: relative;
    max-width: 80%;
    top: 0.5em;
    right: 0.5em;
  }
  .gridbtn {
    position: relative;
    color: black;
    height: 1.8em;
    width: 10em;
    border: 0.5px solid black;
    border-radius: 0.2em;
    text-align: center;
    margin-left: 30%;
    padding-top: 0.8em;
    top: 3em;
  }
  .section2 {
    height: 70em;
  }

  .sec3 {
    text-align: center;
    margin: 10em;
    width: 60%;
  }
  .sec3ready h4 {
    line-height: 1.5em;
    font-size: 1.5em;
    color: #26093a;
  }

  .sec3ready p {
    text-align: center;
    font-weight: lighter;
    font-size: 1em;
    color: #26093a;
  }

  .griddiv {
    width: 90%;
  }
  .griddiv img {
    max-width: 11em;
  }
  .grid2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4em;
    position: relative;
    color: white;
  }
  .customerr {
    margin: auto;
    width: 95%;
    height: auto;
  }
  .customerimages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    position: relative;
    left: 2em;
    bottom: 4em;
  }

  .customerimages img {
    width: 5em;
    height: 5em;
    vertical-align: middle;
    border-radius: 50%;
  }

  .grid2 {
    position: relative;
    top: 1.3em;
  }
  .trading p {
    font-size: 0.5em;
    width: 50%;
    line-height: 1.2em;
    position: relative;
    right: 1em;
  }

  .zgrid2 p {
    position: relative;
    right: 4.4em;
  }
  .xgrid2 {
    position: relative;
    right: 1em;
    bottom: 6.5em;
  }
  .ygrid2 {
    position: relative;
    right: 8em;
    bottom: 6.5em;
  }
  .zgrid2 {
    position: relative;
    right: 16em;
    bottom: 6.5em;
  }

  .ireti {
    display: flex;
    position: relative;
    right: 2em;
    top: 1.5em;
  }

  .ireti2 {
    display: flex;
    position: relative;
    right: 2.3em;
    top: 1.5em;
  }

  .ireti3 {
    display: flex;
    position: relative;
    right: 3.2em;
    top: 1.5em;
  }
  .iretitext {
    font-size: 1em;
  }
}
